name: Update Data

on:
  schedule:
    - cron: '0 */6 * * *' # Atualiza de 6 em 6 horas
  workflow_dispatch:      # Este comando ativa o botão manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Requests
        run: pip install requests

      - name: Executar Script
        run: python fetch_data.py

      - name: Gravar Alterações
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add data.json
          git commit -m "Dados atualizados via Robô" || exit 0
          git push
